@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFD9B0;
    margin: 200px;
    margin-top: 30px;
}

.restourant-image-wrapper {
    display: inline-block;
    width: 55%;
}

.restourant-image-wrapper img {
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.restourant-form-wrapper {
    display: inline-block;
    width: 43%;
    vertical-align: top;
    background-color: #111111;
    height: 650px;
    padding-top: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    right: 5px;
}

.restourant-form-wrapper h3 {
    color: white;
    margin-left: 80px;
}

.restourant-form-wrapper input {
    display: block;
    margin: 40px;
    margin-left: 90px;
    padding-bottom: 8px;
    width: 270px;
    background-color: black;
    border: none;
    border-bottom: 1px solid lightgray;
    color: white;
}

.restourant-form-wrapper input::placeholder {
    color: lightgray;
}

.restourant-form-wrapper input:focus {
    outline: none;
}

.restourant-form-wrapper button {
    background-color: #EDB77D;
    margin-left: 90px;
    color: white;
    padding: 11px 30px;
    border-radius: 6px;
    border: none;
}