  html{
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
}

body, article, section{
    box-sizing: inherit;
    background-color: rgb(238, 238, 238);
}

article{
    max-width: 800px;
    margin: auto;
    color: rgb(51, 51, 51) ;
 }

 img{
    width: 70%;
    height: auto;
   
}