@media all and (max-width: 468px) {
    body {
        width: 85%;
    }
    .div-header {
        display: none;
    }

    header {
        width: 110%;
    }

    main {
        width: 110%;
    }

    .options {
        align-items: center;
        flex-direction: column;
    }

    .options article {
        width: 100%;
        text-align: center;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
    }

    .gallery article div {
        margin-bottom: 25px;
    }

    .blog-title {
        width: 100%;
        padding: 40px 0 0 40px;
    }

    .blog-title h4 span {
        display: none;
    }

    .blog-title a {
        display: none;
    }

    .blog article img {
        display: none;
    }

    #about-blog {
        width: 90%;
    }

    .magazine-title {
        width: 100%;
        padding: 40px 0 0 40px;
      }

    .magazine-title a {
        display: none;
    }

    .magazine-title h4 {
        font-size: 25px;
    }

    .magazine-title h4 span {
        padding: 10px;
    }

    .magazine article {
        flex-direction: column;
        align-items: center;
    }

    #magazine-img {
        width: 100%;
        border: none;
        padding-left: 60px;
    }

    .magazine-info {
        margin: 0;
        width: 110%;
    }

    .magazine-info img {
        width: 110%;
    }

    .magazine article h3,
    .magazine article p {
        width: 110%;
        text-align: center;
    }

    .magazine article h3 {
        padding: 30px;
    }

    .magazine article p {
        font-size: 15px;
        width: 80%;
        margin-left: 80px;
    }

    .magazine article button {
        margin-left: 150px;
    }

    footer {
        flex-direction: column;
    }

    .icons i {
        display: block;
        margin: 10px;
    }
}